*{
    margin: 0;
    padding: 0;
}
.agenda-container{
    width: 90%;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

   
    .calendar-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
        padding: 10px;
        box-sizing: border-box; 
    }
    
    .day-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: #f4f4f4;
        border: 1px solid #ddd; 
        border-radius: 8px;
        text-align: center;
    }
    
    .day-number {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
    
    .day-name {
        font-size: 16px;
        color: #666;
    }
    
    h1{
        color: black;
    }
}
@media only screen and (max-width: 768px) {
    .agenda-container{
        width: 90vw;
        height:auto;
    }
}