*{
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A63446;
    width:100%;
    min-height: calc(100vh - 80px);
    height:auto;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    
    .verlofaanvraag-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:50%;
        height:auto;
        background-color: #A63446;
    
        .verlofaanvraag-form {
            width: 100%;
            height: auto;
            padding: 20px;
            margin: 20px;
            background-color: #F6D5D5;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            form {
                width:100%;
                height:85%;
                display: flex;
                flex-direction: column;
                gap:10px;
                justify-content: space-around;
    
                .option{
                    color:black;
                }
    
                .data {
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    width: 40%;
    
                    
                }
                input{
                    width:100%;
                    padding: 10px;
                    border-radius: 5px;
                    font-family: 'Poppins', sans-serif;
                    border: black 1px solid;
    
                    &:focus{
                        outline: none;
                    }
                }
                textarea {
                    padding: 10px;
                    height: 150px;
                    width: 100%;
                    border-radius: 5px;
                    font-family: 'Poppins', sans-serif;
                    resize: none;
    
                    &:focus{
                        outline: none;
                    }
                }
    
                .submit-button {
                    width: 100%;
                    height: 50px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    background-color: #790924;
                    color:white;
                    border:none;
                    transition: .3s;
    
                    &:hover {
                        background-color: #A63446;
                        cursor: pointer;
                        scale: 1.01;
                        transition: .3s;
                    }
                }
            }
    
            form:focus {
                outline: none;
            }
        }
    }
}
