*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.passwordchange-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color:#A63446;

    form{
        display: flex;
        flex-direction: column;
    }
}