.verlof-details{
    position: absolute !important;
    color:black !important;
    width:40% !important;
    height:70% !important;
    background-color: white !important;
    margin-top:2%;
    display: flex;
    flex-direction: column;
    transition: 1s;
    transform: scale(1);

    .x{
        position: fixed;
        right:10px;
    }

    textarea{
        width: 90%;
        height: 50%;
        margin-left: 10px;
        margin-top: 10px;
        resize: none;
    }

    p{
        margin-right:auto;
        margin-left:10px;
    }
}
