* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AanvragenGeschiedenis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #A63446;
    min-height: calc(100vh - 80px);

    .container {
        width: 400px;
        height: 500px;
        background: white;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        overflow-y: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-left: 100px;
        margin-right: 100px;
    
        h1{
            position: sticky;
            top: 0;
            z-index: 999;
            padding: 5px;
            border-bottom: 1px solid #ddd;
            background: white;
        }
    
        ul{
            list-style: none;
            padding: 0;
        }
    
        li {
            display: flex;
            align-items: center;
            padding: 10px;
            width: 100%;
            background: #f9f9f9;
            border-radius: 8px;
            margin-bottom: 10px;
            margin-top: 5px;
            transition: background 0.3s;
        
            &:hover {
                background: rgb(220, 220, 220);
                cursor: pointer;
                transition: background .3s;
            }
        }
    }
    .container::-webkit-scrollbar {
        display: none;
    }
    
    .aanvraag-info {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    
    .oranje-stip,
    .groene-stip,
    .rode-stip {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .oranje-stip {
        background-color: orange;
    }
    .groene-stip {
        background-color: green;
    }
    .rode-stip {
        background-color: red;
    }
}