header {
    width: 100vw;
    height: 80px;
    background-color: #790924;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 15px;
    overflow-x: hidden;

    h1 {
        cursor: pointer;

        strong {
            font-weight: 550;
        }
    }

    .header-container {
        display: flex;
        width: 100%;
        height: inherit;
        
        nav {
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: end;
            
            ul {
                display: flex;
                list-style: none;
                width: calc(100% - 100px);
                position: relative;

                li{
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                }
                
                li a {
                    color: white;
                    margin: 0 10px;
                    cursor: pointer;
                }
                
                .logout-button {
                    cursor: pointer;
                    position: absolute;
                    right: 35px;
                }
            }
        }

        strong{
            font-weight: 700;
        }

        .account-container {
            padding-right: 15px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            min-width: 120px;
            margin-right: 15px;
        }
    }
}