header {
    width: 100vw;
    height: 80px;
    background-color: #790924;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 15px;
    overflow-x: hidden;

    h1 {
        cursor: pointer;
        min-width:10vw;

        strong {
            font-weight: 550;
        }

        @media only screen and (max-width: 1360px) {
            min-width:26vw;
        }
    }

    .header-container {
        display: flex;
        width: 100%;
        height: inherit;
        
        nav {
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: end;
            
            ul {
                display: flex;
                list-style: none;
                width: calc(100% - 100px);
                position: relative;

                li{
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                }
                .date{
                    margin-top:auto;
                    margin-bottom: auto;

                    @media only screen and (max-width: 880px) {
                        display: none;
                    }
                }
                
                li a {
                    color: white;
                    margin: 0 10px;
                    cursor: pointer;
                    text-decoration: none;

                    
                }
                
                .logout-button {
                    cursor: pointer;
                    position: absolute;
                    right: 35px;

                    @media only screen and (max-width: 880px) {
                        right: 0;
                    }
                }
            }
        }

        strong{
            font-weight: 700;
        }

        .account-container {
            padding-right: 15px;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            width: 200px;
            margin-right: 15px;

            @media only screen and (max-width: 880px) {
                display: none !important;
            }
        }
    }
}