*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vakantieaanvraag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: #A63446;

    .vakantieaanvraag-form{
        width: 50%;
        height: auto;
        padding: 20px;
        background-color: #F6D5D5;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        form{
            width:85%;
            height:85%;
            display: flex;
            flex-direction: column;
            gap:10px;

            textarea{
                width:100%;
                resize: none;
                padding: 10px;
                border-radius: 5px;
                font-family: 'Poppins', sans-serif;
            }
            textarea:focus{
                outline: none;
            }
            .submit-button{
                width:50%;
                height:5vh;
                background-color: #790924;
                color:white;
                border:none;
            }
            .submit-button:hover{
                background-color: #A63446;
                cursor: pointer;
            }
        }
        form:focus{
            outline: none;
        }
    }
}