 .adminpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100vw;
    background-color:#A63446;
    overflow: hidden;

    .heading{
        color:white;
        padding-top: 20px;
        .h1 {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    .container-fluid {
        width: inherit;
        height: 100%;
        gap:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        div {
            background-color: #910C0C;
            width: calc(33.3% - 20px);
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;

            ul{
                width:100%;
                height:auto;
                max-height: fit-content;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                margin-top:10px;
                gap:3px;

                scrollbar-width: thin;
                scrollbar-color: #f9f9f9 #910C0C;

                li {
                    font-family: 'Poppins', sans-serif;
                    display: flex;
                    align-items: center; 
                    width: 95%;
                    color:black;
                    padding: 12px;
                    margin-top: 6px;
                    margin-bottom:6px;
                    margin-left:10px;
                    margin-right:10px;
                    border: 1px solid #ddd; 
                    border-radius: 8px; 
                    background-color: #f9f9f9;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease; 
                }
                
                li:hover {
                    background-color: #d8cccc;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
                }
                
                .oranje-stip {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: orange;
                    margin-right: 15px; 
                }
                .rode-stip {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: red;
                    margin-right: 15px; 
                }
                .groene-stip {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: green;
                    margin-right: 15px; 
                }
                p {
                    font-size: 0.9rem;
                    color: #555;
                    margin-left: auto; 
                    margin-top:auto;
                    margin-bottom:auto;
                }
                
            }

            p{
                margin-top:20px;
            }

            input{
                width: 90%;
                padding: 10px;
                border-radius: 5px;
                font-family: 'Poppins', sans-serif;
                border:none;
                margin-top:15px;
                border-radius: 5px;
            }
            input::placeholder{
                color: black;
            }
            input:focus{
                outline: none;
            }

            &:first-of-type {
                margin-left: 15px;
            }
            &:last-of-type {
                margin-right: 15px;
            }
        }
    }
 }